.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
E-books/
NoNotNotes/.obsidian/
NoNotNotes/.tmp.driveupload
*.canvas
NoNotNotes/.obsidian/workspace.json
NoNotNotes/Untitled.md
q/