.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
E-books/
content/.obsidian/file-recovery.json
content/.obsidian/app.json
content/.obsidian/types.json
/content/.tmp.driveupload
*.canvas
