@use "./base.scss";
@use "./variables.scss" as *;
@use "./columnscallouts.scss";

// text formatting
[saved-theme="light"] strong {
    color: var(--secondary);
}
[saved-theme="dark"] strong {
    color: var(--secondary);
}
[saved-theme="light"] .text-highlight {
    background-color: #bbffb3;
}
[saved-theme="dark"] .text-highlight {
    background-color: #39477d;
}

li:has(>input[type=checkbox]:checked) {
    text-decoration: none;
}

// header formatting
article h1::before,
article h2::before,
article h3::before,
article h4::before,
article h5::before,
article h6::before {
    content: "# ";
    font-weight: 100;
    font-family: var(--codeFont)
}

.breadcrumb-element{
    font-family: var(--headerFont);
}

// explorer formatting
.folder-outer.folder-outer li a::before {
    content: '→  ';
}

// mermaid formatting
// [saved-theme="dark"] .node rect{
//     fill:#281c1ccc !important;
//     stroke:rgba(255, 126, 126, 0.4) !important;
// }

// [saved-theme="dark"] .cluster rect{
//     fill:#0e0909 !important;
//     fill-opacity: 0.4 !important;
//     stroke:rgba(255, 126, 126, 0.2) !important;
// }

// .popover-hint ul:not(.section-ul, .tags) li {
//     list-style: none; /* Hide default list style */
//     position: relative;
//     & ::before {
//         content: "–"; /* Custom marker character */
//         position: absolute;
//         left: -1.5em; /* Adjust positioning */
//         color: currentColor; /* Match text color */
//     }
// }